body {
    background-color: #1e1e1e;
    font-family: Arial, Helvetica, sans-serif;
}

.timer-label {
    margin: 0;
    color: #fff;
    font-size: 500%;
    text-align: center;
}

.timer {
    margin: 0;
    color: #fff;
    font-size: 1000%;
    text-align: center;
}

.iframe-container {
    display: flex;
}

iframe {
    margin: 0;
    width: 50%;
    height: 525px;
}